/* $Id$ */

/*
** definitions for bulk operation views
*/

/* Float operation selection element */
#views-bulk-operations-select {
  float: left;
}

/* Put some margins on the Execute button */
#views-bulk-operations-execute {
  margin: 0.9em 0.5em 2em 0;
}

/* Clear the node selector */
.views-node-selector {
  clear: both;
}

/* Style the admin operations link */
#views-bulk-operations-admin {
}

